.icon-container {
    display: flex;
    justify-content: space-evenly;
    height: 75px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}

.icon-images {
    height: 60px;
    width: auto;
    margin: auto;
    filter: brightness(0) invert(1);
}

.icon-languages {
    height: 45px;
    width: auto;
    margin: auto;
    filter: brightness(0) invert(1);
}
