.profile-section {
    display: block;
    margin: auto;
    text-align: left;
    height: 200px;
    width: 90%;
}

.profile-text-head {
    display: inline-block;
    height: min-content;
    width: auto;
    margin-top: 1%;
    color:peachpuff;
    font-size: 40px;
}
.profile-text-body {
    display: inline-block;
    margin-top: 1%;
    height: min-content;
    width: auto;
    color:aquamarine;
    font-size: 25px;
}
