html {
    background-image: url("images/background.jpeg");
}

body {
    font-family: 'Open Sans', 'Times New Roman', Times, serif;
}

@keyframes fadeInOpacity {
    0%,100%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0.6;
    }
} */

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}